<%= form_for(:session, url: login_path) do |f| %>
<div class='signup-wrapper clearfix'>
    <h3 class='signup-title'>ログイン</h3>
    <% flash.each do |message_type, message| %>
        <div class='alert alert-<%=message_type%>'>
            <%= message %>
        </div>
    <% end %>
    <ul class='form-items'>
        <li class='form-item'>
            <p class='information-title'>メールアドレス</p>
            <%= f.text_field :email, class: 'form-control' %>
        </li>
        <li class='form-item'>
            <p class='information-title'>パスワード</p>
            <%= f.password_field :password, class: 'form-control' %>
        </li>
    </ul>
    <%= f.submit 'ログイン', class: 'btn btn-signup' %>
</div>
<% end %>