<%= form_for(@user, url: signup_path) do |f| %>
<div class='signup-wrapper clearfix'>
    <h3 class='signup-title'>無料新規会員登録 (1分)</h3>
    <p class='txt'>基本情報<span class='warning'> ※必須</span></p>
    
    <%= render 'shared/error_messages' %>
    
    <ul class='form-items'>
        <li class='form-item'>
            <p class='information-title'><span class='kome'>※</span>メールアドレス</p>
            <%= f.text_field :email, class: 'form-control' %>
        </li>
        <li class='form-item'>
            <p class='information-title'><span class='kome'>※</span>パスワード</p>
            <%= f.password_field :password, class: 'form-control' %>
        </li>
        <li class='form-item'>
            <p class='information-title'><span class='kome'>※</span>パスワード確認</p>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
        </li>
        <li class='form-item'>
            <p class='information-title'><span class='kome'>※</span>ユーザー名</p>
            <%= f.text_field :name, class: 'form-control' %>
        </li>
        <li class='form-item border-none'>
            <p class='information-title'><span class='kome'>※</span>学年</p>
            <%= f.text_field :grade, class: 'form-control half-size' %>
            <span>年</span>
            <%= f.text_field :major, class: 'form-control half-size' %>
            <span>系/学院</span>
        </li>
    </ul>
    <p class='signup-desc'>Lecceedの<a href='#'>利用規約</a>と<a href='#'>プライバシーポリシー</a>に同意のうえ、
                            新規登録ボタンを押してください。</p>
    <%= f.submit '新規登録', class: 'btn btn-signup' %>
</div>
<% end %>





